@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.woff") format("woff"),
    url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.woff") format("woff"),
    url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}


/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* --- 1. VARIABLES CSS (Tema V2) --- */
:root {
  /* Tema Claro V2 (Por defecto) */
  --bg: #eaeaea; /* Gris técnico */
  --text: #050505;
  --accent: #0055ff; /* Azul Klein Internacional */
  --line: #bfbfbf;
  --card-hover-text: #eaeaea;

  /* Tipografía */
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Tema Oscuro V2 */
body.dark-theme {
  --bg: #0a0a0a;
  --text: #e0e0e0;
  --accent: #ccff00; /* Lima Ácida */
  --line: #333333;
  --card-hover-text: #0a0a0a;
}
