---
import "../styles/global.css";
---

<section class="main-grid">
  <aside>
    <div class="avatar-container">
      <div class="avatar-frame">
        <img
          src="/images/Users.avif"
          alt="Miguel's profile photo"
          class="avatar-image"
        />
        <span class="icon-arrow">svg here </span>
      </div>
      <h2 class="avatar-title">Miguel P.</h2>
      <p class="avatar-text">Fronted Developer</p>
    </div>
    <div class="biodata-container">
        <div class="biodata-text-section">
      <i class="terminal"><h3>Bio_Data</h3></i>
      <p class="biodata-text">
        Obsesionado con la performance web y los sistemas de diseño escalables.
        Transformo caos complejo en interfaces simples.
      </p>
      </div>
      <div class="stack-grid">
        <div class="stack-item"><span class="dot">React</span></div>
        <div class="stack-item"><span class="dot">Python</span></div>
        <div class="stack-item"><span class="dot">No soy dios</span></div>
      </div>
    </div>
  </aside>
</section>
